<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>Account</title>
	<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
	<link th:href="@{/css/informationuser.css}" rel="stylesheet" />
</head>

<body>
	<div class="menu">
		<div class="account">
			<img src="https://yt3.ggpht.com/ytc/AAUvwniNNRXsKcsAunIOF31uQCGXMaxGrK5m3Kjj_T9cMg=s900-c-k-c0x00ffffff-no-rj"
				width="270" height="270"></img> <label>Nhân Viên:</label>
			<p id="nameaccountnha"></p>
		</div>
		<div class="vertical-menu">
			<a onclick="musiclink()" class="active">Music Management</a> <a onclick="accountlink()">Account
				Management</a> <a onclick="personalaccountlink()">Personal Account</a><a onclick="logout()">Logout</a>
		</div>
	</div>
	<div class="center">
		<div class="center-mm1">
			<h3>Thông tin Nhân Viên</h3>
			<p><b>Họ và Tên:</b> Trịnh Văn Long </p>
			<p><b>Giới Tính:</b> Nam</p>
			<p><b>CMD:</b> 174625948</p>
			<p><b>Sinh Năm:</b> 10/5/1997</p>
			<p><b>Quê Quán:</b> Xã Cầu lộc Huyện hậu Lộc, tỉnh Thanh Hóa</p>
			<p><b>Địa Chỉ Thường Trú:</b> 5/23 đường 13, Khu Phố Thống Nhất 1, tx. Dĩ An, Bình Dương</p>
			<p><b>Ngày Vào Làm:</b> 10/5/2021</p>
		</div>
		<div class="center-mm2">
			<img src="https://yt3.ggpht.com/ytc/AAUvwniNNRXsKcsAunIOF31uQCGXMaxGrK5m3Kjj_T9cMg=s900-c-k-c0x00ffffff-no-rj">
		</div>
	</div>
	<script>
		function logout() {
			$.getJSON("http://localhost:8080/apiaccount/logout", {
				format: "json"
			}).done();
			window.location.href = "http://localhost:8080/login";
		}
		function musiclink() {
			window.location.href = "http://localhost:8080/music?token="
				+ abcx();
		}
		function personalaccountlink() {
			window.location.href = "http://localhost:8080/informationuser?token="
				+ abcx();
		}
		
		function accountlink() {
			window.location.href = "http://localhost:8080/account?token="
				+ abcx();
		}
		function abc() {
			var url = window.location.href;
			var indextoken = url.indexOf("token=") + 6;
			var length = url.length;
			var urlx = url.slice(indextoken, length);
			urlx = urlx.replace("%20", " ");
			return urlx;
		}
		function abcx() {
			var url = window.location.href;
			var indextoken = url.indexOf("token=") + 6;
			var length = url.length;
			var urlx = url.slice(indextoken, length);
			return urlx;
		}
	</script>
</body>

</html>