<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<title>Login</title>
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<link th:href="@{/css/login.css}" rel="stylesheet"/>
</head>

<body>
	<div class="body-center">
		<div class="div-form">
			<div class="imgcontainer">
				<img
					src="https://w7.pngwing.com/pngs/407/557/png-transparent-password-strength-computer-security-password-policy-managed-security-service-procurement-icon-blue-logo-sign.png"
					alt="Avatar" class="avatar">
			</div>

			<div class="container">
				<label for="uname"><b>Username</b></label> <input class="name" value="long"
					type="text" placeholder="Enter Username" name="uname" required>
				<label for="psw"><b>Password</b></label> <input class="password" value="password"
					type="password" placeholder="Enter Password" name="psw" required>

				<button onclick="login()">Login</button>
				<label> <input type="checkbox" checked="checked"
					name="remember"> Remember me
				</label>
			</div>

			<div class="container">
				<button type="button" class="cancelbtn">Cancel</button>
				<span class="psw">Forgot password?</span>
			</div>
		</div>
	</div>
	<script>
		function login() {
			var data = {};
			data['name'] = $('.name').val();
			data['password'] = $('.password').val();
			$.ajax({
				url : 'http://localhost:8080/login',
				type : 'POST',
				contentType : 'application/json',
				data : JSON.stringify(data),
				dataType : "json",
				success : function(result) {
					console.log("Hello world!");
					window.location.href = "http://localhost:8080/music?token=" + result.token;
				},
				error : function(error) {
				}
			});
		}
	</script>
</body>

</html>