<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<title>Music</title>
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<link th:href="@{/css/music.css}" rel="stylesheet" />
</head>

<body>
	<div class="menu">
		<div class="account">
			<img
				src="https://yt3.ggpht.com/ytc/AAUvwniNNRXsKcsAunIOF31uQCGXMaxGrK5m3Kjj_T9cMg=s900-c-k-c0x00ffffff-no-rj"
				width="270" height="270"></img> <label>Nhân Viên:</label>
			<p id="nameaccountnha"></p>
		</div>
		<div class="vertical-menu">
			<a onclick="musiclink()" class="active">Music Management</a> <a
				onclick="accountlink()">Account Management</a> <a
				onclick="personalaccountlink()">Personal Account</a><a onclick="logout()">Logout</a>
		</div>
	</div>
	<div class="center">
		<div class="center-mm1">
			<div id="div-searchalbum-1xxx">
				<input type="text" id="searchname">
				<button onclick="search()">
					<svg aria-hidden="true" focusable="false" data-prefix="fas"
						data-icon="search" class="svg-inline--fa fa-search fa-w-16"
						role="img" xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 512 512">
						<path fill="currentColor"
							d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z">
						</path>
					</svg>
				</button>
			</div>
			<table>
				<thead>
					<tr>
						<th>Id</th>
						<th>Name</th>
						<th>Album</th>
						<th>Category</th>
						<th>Sửa</th>
						<th>Xóa</th>
					</tr>
				</thead>
				<tbody id="bidders">

				</tbody>
			</table>
			<div class="pagination">
				<a onclick="back()">❮</a> <a onclick="next()">❯</a>
			</div>
		</div>
		<div class="center-mm2">
			<div class="img">
				<img
					src="https://i1.sndcdn.com/artworks-LG3sdV8andowvRJL-Sy3DyQ-t500x500.jpg"
					width="270" height="270" id="imageiframe"></img>
			</div>
			<div class="audio">
				<iframe
					src="https://drive.google.com/file/d/1e7gszNEnC1T_LRMUkZYdf0DmX7hiWvCI/preview"
					width="470" height="60" id="audio"></iframe>
			</div>
			<div class="detail">
				<div class="id_100" id="idx100">
					<label>Category Music</label> <select name="categorymusic"
						id="categorymusic">
					</select>
				</div>
				<div id="div-searchalbum">
					<div id="div-searchalbum-1">
						<input type="text" id="searchalbum"> <label>Album</label>
						<button>
							<svg aria-hidden="true" focusable="false" data-prefix="fas"
								data-icon="search" class="svg-inline--fa fa-search fa-w-16"
								role="img" xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 512 512">
								<path fill="currentColor"
									d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z">
								</path>
							</svg>
						</button>
					</div>
					<div id="div-searchalbum-2">
						<input type="text" id="album">
						<button>
							<svg aria-hidden="true" focusable="false" data-prefix="fas"
								data-icon="plus-circle"
								class="svg-inline--fa fa-plus-circle fa-w-16" role="img"
								xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
								<path fill="currentColor"
									d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm144 276c0 6.6-5.4 12-12 12h-92v92c0 6.6-5.4 12-12 12h-56c-6.6 0-12-5.4-12-12v-92h-92c-6.6 0-12-5.4-12-12v-56c0-6.6 5.4-12 12-12h92v-92c0-6.6 5.4-12 12-12h56c6.6 0 12 5.4 12 12v92h92c6.6 0 12 5.4 12 12v56z">
								</path>
							</svg>
						</button>
					</div>
				</div>
				<div id="dixname">
					<label>Name</label> <input type="text" id="name">
				</div>
				<div class="divurl">
					<label>Url</label> <input type="text" id="url">
				</div>
				<div class="divimage">
					<label>Image</label> <input type="text" id="image">
				</div>
				<input type="hidden" id="id"> <input type="hidden"
					id="idcategorymusic"> <input type="hidden"
					id="idalbummusic"> <input type="hidden" id="page">
				<button id="Save" onclick="updateMusic()">
					<svg aria-hidden="true" focusable="false" data-prefix="fas"
						data-icon="save" class="svg-inline--fa fa-save fa-w-14" role="img"
						xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
						<path fill="currentColor"
							d="M433.941 129.941l-83.882-83.882A48 48 0 0 0 316.118 32H48C21.49 32 0 53.49 0 80v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V163.882a48 48 0 0 0-14.059-33.941zM224 416c-35.346 0-64-28.654-64-64 0-35.346 28.654-64 64-64s64 28.654 64 64c0 35.346-28.654 64-64 64zm96-304.52V212c0 6.627-5.373 12-12 12H76c-6.627 0-12-5.373-12-12V108c0-6.627 5.373-12 12-12h228.52c3.183 0 6.235 1.264 8.485 3.515l3.48 3.48A11.996 11.996 0 0 1 320 111.48z">
						</path>
					</svg>
				</button>
				<button id="Create" onclick="createMusic()">
					<svg aria-hidden="true" focusable="false" data-prefix="fas"
						data-icon="folder-plus"
						class="svg-inline--fa fa-folder-plus fa-w-16" role="img"
						xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
						<path fill="currentColor"
							d="M464,128H272L208,64H48A48,48,0,0,0,0,112V400a48,48,0,0,0,48,48H464a48,48,0,0,0,48-48V176A48,48,0,0,0,464,128ZM359.5,296a16,16,0,0,1-16,16h-64v64a16,16,0,0,1-16,16h-16a16,16,0,0,1-16-16V312h-64a16,16,0,0,1-16-16V280a16,16,0,0,1,16-16h64V200a16,16,0,0,1,16-16h16a16,16,0,0,1,16,16v64h64a16,16,0,0,1,16,16Z">
						</path>
					</svg>
				</button>
			</div>
		</div>
	</div>
	<script>
		$(document)
				.ready(
						function() {
							$
									.ajax({
										url : "http://localhost:8080/apicategory/getallcategory",
										type : 'GET',
										contentType : 'application/json',
										beforeSend : function(request) {
											request.setRequestHeader(
													"Authorization", abc());
										},
										success : function(data) {
											var len = data.length;
											var trHTML = '';
											for (var i = 0; i < len; i++) {
												var idcategory = data[i].idcategory;
												var namecategory = data[i].namecategory;
												trHTML += "<option value=" + "value" + idcategory + ">"
														+ namecategory
														+ "</option>";
											}
											$('#categorymusic').append(trHTML);
										}
									});
							$
									.ajax({
										url : "http://localhost:8080/apimusic/getmusicpage?id=0",
										type : 'GET',
										contentType : 'application/json',
										beforeSend : function(request) {
											request.setRequestHeader(
													"Authorization", abc());
										},
										success : function(data) {
											var len = data.length;
											var trHTML = '';
											for (var i = 0; i < len; i++) {
												var id = data[i].id;
												var name = data[i].name;
												var idcategory = data[i].category.idcategory;
												var namecategory = data[i].category.namecategory;
												var idalbum = data[i].album.idalbum;
												var namealbum = data[i].album.namealbum;
												var url = data[i].url;
												var image = data[i].image;
												trHTML += '<tr><td>'
														+ id
														+ '</td><td>'
														+ name
														+ '</td><td>'
														+ namealbum
														+ '</td><td>'
														+ namecategory
														// 											+ '</td><td>'
														// 											+ '<iframe src="' + image + '" width="140" height="140"></iframe>'
														+ '</td><td>'
														+ '<button class="showhai" onclick="deleteMusic('
														+ id
														+ ')" ><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="trash-alt" class="svg-inline--fa fa-trash-alt fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M32 464a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128H32zm272-256a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zM432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16z"></path></svg></button>'
														+ '</td><td>'
														+ '<button class="show" onclick="edit('
														+ id
														+ ')"><svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="edit" class="svg-inline--fa fa-edit fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M402.3 344.9l32-32c5-5 13.7-1.5 13.7 5.7V464c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V112c0-26.5 21.5-48 48-48h273.5c7.1 0 10.7 8.6 5.7 13.7l-32 32c-1.5 1.5-3.5 2.3-5.7 2.3H48v352h352V350.5c0-2.1.8-4.1 2.3-5.6zm156.6-201.8L296.3 405.7l-90.4 10c-26.2 2.9-48.5-19.2-45.6-45.6l10-90.4L432.9 17.1c22.9-22.9 59.9-22.9 82.7 0l43.2 43.2c22.9 22.9 22.9 60 .1 82.8zM460.1 174L402 115.9 216.2 301.8l-7.3 65.3 65.3-7.3L460.1 174zm64.8-79.7l-43.2-43.2c-4.1-4.1-10.8-4.1-14.8 0L436 82l58.1 58.1 30.9-30.9c4-4.2 4-10.8-.1-14.9z"></path></svg></button> '
														+ '</td></tr>';
											}
											$('#bidders').append(trHTML);
											$('#page').val(0);
										}
									});
							$
									.ajax({
										url : "http://localhost:8080/apiaccount/getaccountlogin",
										type : 'GET',
										contentType : 'application/json',
										beforeSend : function(request) {
											request.setRequestHeader(
													"Authorization", abc());
										},
										success : function(data) {
											$('#nameaccountnha').text(
													data['fullname']);
										}
									});
						});

		$('.id_100').on('click', '#categorymusic', function(e) {
			var str = $("#categorymusic option:selected").val();
			$('#idcategorymusic').val(str.slice(5, str.length));
		});

		$('#div-searchalbum-1')
				.on(
						'click',
						'button',
						function(e) {
							var url = "http://localhost:8080/apialbum/searchnamealbum?namealbum="
									+ $('#searchalbum').val();
							;
							$.ajax({
								url : url,
								type : 'GET',
								contentType : 'application/json',
								beforeSend : function(request) {
									request.setRequestHeader("Authorization",
											abc());
								},
								success : function(data) {
									$('#idalbummusic').val(data.idalbum);
									$('#album').val(data.namealbum);
								}
							});
						});

		function edit(id) {
			var url = "http://localhost:8080/apimusic/getmusic?id=" + id;

			$.ajax({
				url : url,
				type : 'GET',
				contentType : 'application/json',
				beforeSend : function(request) {
					request.setRequestHeader("Authorization", abc());
				},
				success : function(data) {
					$('#id').val(data['id']);
					$('#name').val(data['name']);
					$('#url').val(data['url']);
					$('#image').val(data['image']);
					$('#audio').attr('src', data['url']);
					$('#imageiframe').attr('src', data['image']);
					$('#album').val(data['album'].namealbum);
					$("div.id_100 select").val(
							"value" + data['category'].idcategory);
					$('#idcategorymusic').val(data['category'].idcategory);
					$('#idalbummusic').val(data['album'].idalbum);
				}
			});
		};

		function deleteMusic(id) {
			var data = {};
			data['id'] = id;
			$.ajax({
				url : 'http://localhost:8080/apimusic/deletemusic',
				type : 'POST',
				contentType : 'application/json',
				data : JSON.stringify(data),
				dataType : "json",
				beforeSend : function(request) {
					request.setRequestHeader("Authorization", abc());
				}
			});
			window.location.href = "http://localhost:8080/music?token="
					+ abcx();
		}

		function createMusic() {
			var music = {};

			var album = {
				idalbum : $('#idalbummusic').val(),
				namealbum : " "
			};
			var category = {
				idcategory : $('#idcategorymusic').val(),
				namecategory : " "
			};
			music['name'] = $('#name').val();
			music['url'] = $('#url').val();
			music['image'] = $('#image').val();
			music['category'] = category;
			music['album'] = album;
			music['isdelete'] = 0;
			$.ajax({
				url : 'http://localhost:8080/apimusic/insertmusic',
				type : 'POST',
				contentType : 'application/json',
				data : JSON.stringify(music),
				dataType : "json",
				beforeSend : function(request) {
					request.setRequestHeader("Authorization", abc());
				}
			});
			window.location.href = "http://localhost:8080/music?token="
					+ abcx();
		}

		function updateMusic() {
			var music = {};
			var album = {
				idalbum : $('#idalbummusic').val(),
				namealbum : " "
			};
			var category = {
				idcategory : $('#idcategorymusic').val(),
				namecategory : " "
			};
			music['id'] = $('#id').val();
			music['name'] = $('#name').val();
			music['url'] = $('#url').val();
			music['image'] = $('#image').val();
			music['category'] = category;
			music['album'] = album;
			music['isdelete'] = 0;
			$.ajax({
				url : 'http://localhost:8080/apimusic/updatemusic',
				type : 'POST',
				contentType : 'application/json',
				data : JSON.stringify(music),
				dataType : "json",
				beforeSend : function(request) {
					request.setRequestHeader("Authorization", abc());
				}
			});
			window.location.href = "http://localhost:8080/music?token="
					+ abcx();
		}

		function back() {
			var page = parseInt($('#page').val());
			if (page > 0) {
				page = page - 1;
			}

			$
					.ajax({
						url : "http://localhost:8080/apimusic/getmusicpage?id="
								+ page,
						type : 'GET',
						contentType : 'application/json',
						beforeSend : function(request) {
							request.setRequestHeader("Authorization", abc());
						},
						success : function(data) {
							var len = data.length;
							var trHTML = '';
							for (var i = 0; i < len; i++) {
								var id = data[i].id;
								var name = data[i].name;
								var idcategory = data[i].category.idcategory;
								var namecategory = data[i].category.namecategory;
								var idalbum = data[i].album.idalbum;
								var namealbum = data[i].album.namealbum;
								var url = data[i].url;
								var image = data[i].image;
								trHTML += '<tr><td>'
										+ id
										+ '</td><td>'
										+ name
										+ '</td><td>'
										+ namealbum
										+ '</td><td>'
										+ namecategory
										// 											+ '</td><td>'
										// 											+ '<iframe src="' + image + '" width="140" height="140"></iframe>'
										+ '</td><td>'
										+ '<button class="showhai" onclick="deleteMusic('
										+ id
										+ ')" ><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="trash-alt" class="svg-inline--fa fa-trash-alt fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M32 464a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128H32zm272-256a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zM432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16z"></path></svg></button>'
										+ '</td><td>'
										+ '<button class="show" onclick="edit('
										+ id
										+ ')"><svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="edit" class="svg-inline--fa fa-edit fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M402.3 344.9l32-32c5-5 13.7-1.5 13.7 5.7V464c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V112c0-26.5 21.5-48 48-48h273.5c7.1 0 10.7 8.6 5.7 13.7l-32 32c-1.5 1.5-3.5 2.3-5.7 2.3H48v352h352V350.5c0-2.1.8-4.1 2.3-5.6zm156.6-201.8L296.3 405.7l-90.4 10c-26.2 2.9-48.5-19.2-45.6-45.6l10-90.4L432.9 17.1c22.9-22.9 59.9-22.9 82.7 0l43.2 43.2c22.9 22.9 22.9 60 .1 82.8zM460.1 174L402 115.9 216.2 301.8l-7.3 65.3 65.3-7.3L460.1 174zm64.8-79.7l-43.2-43.2c-4.1-4.1-10.8-4.1-14.8 0L436 82l58.1 58.1 30.9-30.9c4-4.2 4-10.8-.1-14.9z"></path></svg></button> '
										+ '</td></tr>';
							}
							$("#bidders tr").remove();
							$('#bidders').append(trHTML);
							$('#page').val(page);
						}
					});
		}
		function next() {
			var page = parseInt($('#page').val());
			page = page + 1;
			$
					.ajax({
						url : "http://localhost:8080/apimusic/getmusicpage?id="
								+ page,
						type : 'GET',
						contentType : 'application/json',
						beforeSend : function(request) {
							request.setRequestHeader("Authorization", abc());
						},
						success : function(data) {
							var len = data.length;
							var trHTML = '';
							for (var i = 0; i < len; i++) {
								var id = data[i].id;
								var name = data[i].name;
								var idcategory = data[i].category.idcategory;
								var namecategory = data[i].category.namecategory;
								var idalbum = data[i].album.idalbum;
								var namealbum = data[i].album.namealbum;
								var url = data[i].url;
								var image = data[i].image;
								trHTML += '<tr><td>'
										+ id
										+ '</td><td>'
										+ name
										+ '</td><td>'
										+ namealbum
										+ '</td><td>'
										+ namecategory
										// 											+ '</td><td>'
										// 											+ '<iframe src="' + image + '" width="140" height="140"></iframe>'
										+ '</td><td>'
										+ '<button class="showhai" onclick="deleteMusic('
										+ id
										+ ')" ><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="trash-alt" class="svg-inline--fa fa-trash-alt fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M32 464a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128H32zm272-256a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zM432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16z"></path></svg></button>'
										+ '</td><td>'
										+ '<button class="show" onclick="edit('
										+ id
										+ ')"><svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="edit" class="svg-inline--fa fa-edit fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M402.3 344.9l32-32c5-5 13.7-1.5 13.7 5.7V464c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V112c0-26.5 21.5-48 48-48h273.5c7.1 0 10.7 8.6 5.7 13.7l-32 32c-1.5 1.5-3.5 2.3-5.7 2.3H48v352h352V350.5c0-2.1.8-4.1 2.3-5.6zm156.6-201.8L296.3 405.7l-90.4 10c-26.2 2.9-48.5-19.2-45.6-45.6l10-90.4L432.9 17.1c22.9-22.9 59.9-22.9 82.7 0l43.2 43.2c22.9 22.9 22.9 60 .1 82.8zM460.1 174L402 115.9 216.2 301.8l-7.3 65.3 65.3-7.3L460.1 174zm64.8-79.7l-43.2-43.2c-4.1-4.1-10.8-4.1-14.8 0L436 82l58.1 58.1 30.9-30.9c4-4.2 4-10.8-.1-14.9z"></path></svg></button> '
										+ '</td></tr>';
							}
							$("#bidders tr").remove();
							$('#bidders').append(trHTML);
							$('#page').val(page);
						}
					});
		}

		function search() {
			var name = $('#searchname').val();
			$
					.ajax({
						url : "http://localhost:8080/apimusic/searchmusicpagesize?name="
								+ name,
						type : 'GET',
						contentType : 'application/json',
						beforeSend : function(request) {
							request.setRequestHeader("Authorization", abc());
						},
						success : function(data) {
							var len = data.length;
							var trHTML = '';
							for (var i = 0; i < len; i++) {
								var id = data[i].id;
								var name = data[i].name;
								var idcategory = data[i].category.idcategory;
								var namecategory = data[i].category.namecategory;
								var idalbum = data[i].album.idalbum;
								var namealbum = data[i].album.namealbum;
								var url = data[i].url;
								var image = data[i].image;
								trHTML += '<tr><td>'
										+ id
										+ '</td><td>'
										+ name
										+ '</td><td>'
										+ namealbum
										+ '</td><td>'
										+ namecategory
										// 											+ '</td><td>'
										// 											+ '<iframe src="' + image + '" width="140" height="140"></iframe>'
										+ '</td><td>'
										+ '<button class="showhai" onclick="deleteMusic('
										+ id
										+ ')" ><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="trash-alt" class="svg-inline--fa fa-trash-alt fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M32 464a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128H32zm272-256a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zM432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16z"></path></svg></button>'
										+ '</td><td>'
										+ '<button class="show" onclick="edit('
										+ id
										+ ')"><svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="edit" class="svg-inline--fa fa-edit fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M402.3 344.9l32-32c5-5 13.7-1.5 13.7 5.7V464c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V112c0-26.5 21.5-48 48-48h273.5c7.1 0 10.7 8.6 5.7 13.7l-32 32c-1.5 1.5-3.5 2.3-5.7 2.3H48v352h352V350.5c0-2.1.8-4.1 2.3-5.6zm156.6-201.8L296.3 405.7l-90.4 10c-26.2 2.9-48.5-19.2-45.6-45.6l10-90.4L432.9 17.1c22.9-22.9 59.9-22.9 82.7 0l43.2 43.2c22.9 22.9 22.9 60 .1 82.8zM460.1 174L402 115.9 216.2 301.8l-7.3 65.3 65.3-7.3L460.1 174zm64.8-79.7l-43.2-43.2c-4.1-4.1-10.8-4.1-14.8 0L436 82l58.1 58.1 30.9-30.9c4-4.2 4-10.8-.1-14.9z"></path></svg></button> '
										+ '</td></tr>';
							}
							$("#bidders tr").remove();
							$('#bidders').append(trHTML);
						}
					});
		}

		function logout() {
			$.getJSON("http://localhost:8080/apiaccount/logout", {
				format : "json"
			}).done();
			window.location.href = "http://localhost:8080/login";
		}
		function musiclink() {
			window.location.href = "http://localhost:8080/music?token="
					+ abcx();
		}
		function accountlink() {
			window.location.href = "http://localhost:8080/account?token=" + abcx();
		}
		function abc() {
			var url = window.location.href;
			var indextoken = url.indexOf("token=") + 6;
			var length = url.length;
			var urlx = url.slice(indextoken, length);
			urlx = urlx.replace("%20", " ");
			return urlx;
		}
		function abcx() {
			var url = window.location.href;
			var indextoken = url.indexOf("token=") + 6;
			var length = url.length;
			var urlx = url.slice(indextoken, length);
			return urlx;
		}
	</script>
</body>

</html>